<p>posts-list works!</p>


<h1>{{ childUser | json}}</h1>


<!-- In here, the user component and posts-list component are both the child component. But we have randered the one child component into another child component instead of rendering it inside the parent component, we only randered the posts-list component to the parent component and the randered the user component which is a child component in here at posts-list component. Becasue of which the posts-list component is now the parent component of user-component -->
<app-user></app-user>

<!-- Will get the data from the centralized services, means from user.service.ts. Just like we get that data in app.component.html file. first in posts-list.component.ts file we will have to create a new constructor and then add UserService there, as a new component so we will write new UserService, and then we will assign that to a variable which is userService by this.userService = new UserService() and for that we will have to make a new variable which is userService and assign it as any type. and then here on html we will use string manipulation and will call that variable with .user cause thats the service and then will use json pipe to get the data. This all is same as in html -->


<!-- in the example below we are just fetting the info we want from the array and not the full array, we are using the for loop fromm angular. and make a new variable name post and assigned the old variable posts to it using for. and then make it to track the post after ; and then added the li tags with the string manipulation and then adding new variable's name post and after that we will put what we want either id or title or any other info from the service array itself after the . -->
<ul>
    @for(post of posts; track post) {
        <li>{{ post.title}}</li>
    }
</ul>


<!-- Let's say that we have some data inside this ts file and we want to push that data inside the service, we will use the push method. for that first we will create a button here and add the click event with the function and then we will create that function inside the ts file. in that functon we will add the details which we want to push inside the service. and then we will post that data by using the this.postService.addPostService(postData), and then we will catch that data inside the service ts file by making the function addPostService (newPost: any) cause new data can be of any type. and then insdie the {} we will push that data insdie the data which we have there by using this.posts.push(newPost);  -->
<button (click)="addPost()" >Add Post</button>


<!-- in the example below we are just rendering the full array from the service. -->
<!-- <ul>
    <li>{{ posts | json}}</li>
</ul> -->

<!-- Adding services -->
 