 <!-- Angular Services: It is a class in angular which helps to keep the important info and function at one place, and we can use the piece of info or function from it when we need. it is designed to handle tasks like data fetching, business logic, logging, or any operation that should be shared across components. There is no child or parent component here. these are two absolutely different components, and we can share the data in between them. Means instead of making a same set of data in two different components, what we can do is, we can make an angular service and keep the data there, and then use that angular service in both of the components. -->

<app-posts-list ></app-posts-list>

<h1>{{ workService.work | json }}</h1>

<!-- After getting the data from the centralized service in app component, now we will try to get the same data in posts-list component -->


<!-- Dependemcy Injection 2: The reason why we use the dependency injetion, is because the each time we use the service and add it to multiple files, it take new ram space each time making its own blocks. which is not good. So, each time making a new block we use this dependency injection. In this we make one block of one service of angular and then use it each time, because of which that service do not make the new block each time we add it to any file  -->